.partners-card{
  padding-top: 58px;
  padding-bottom: 58px;
  &__wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    //padding-left: 276px;
    //padding-right: 276px;
    @media (max-width: 1399.98px) {
      padding-left: 100px;
      padding-right: 100px;
    }
    @media (max-width: 991.98px) {
      flex-direction: column;
    }
  }
  &__item{
    display: flex;
    flex-direction: row;
    filter: grayscale(100%);
    transition: 300ms;
    @media (max-width: 991.98px) {
      flex-direction: column;
      margin-top: 80px;
      width: 100%;
      max-width: 200px;
      height: auto;
    }
    &:hover{
      filter: grayscale(0);
      cursor: pointer;
      transition: 400ms;
    }
  }
}