<div class="popup-block" id="get-started-modal">
	<div class="popup-block__overlay">
		<div class="popup-block__popup">
			<div class="inner-content">
				<div class="container">
					<div class="row">
						<a href="javascript:;" data-toggle="modal-dismiss" class="popup-block__close"></a>
						<div class="col-12">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam aliquid architecto enim error fugit iusto labore libero molestias necessitatibus nemo neque perspiciatis quisquam quos recusandae vel, voluptatum. Commodi, nam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dicta dignissimos dolorem est inventore minus obcaecati placeat porro, quae quis quo quod repudiandae rerum sit soluta sunt temporibus vero, voluptatem!
						</div>
					</div>
				</div>



			</div>
		</div>
	</div>
</div>